body{
    background: rgb(189, 184, 184);
    font-family: Verdana;
    max-width: 900px;
    margin: auto;
}
.photo {
    border-radius: 50px;
}
#title {
color: yellow;
font-size: 40px;
text-transform: uppercase;

}
a {
    text-decoration: line-through;
    color: #505050;

}
.subtitle {
    font-size: 60px;
    font-style: italic;
    color:green;
}

.post_title {
    color: blueviolet;
    font-size: 30px;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: justify;
}

article {
    background: rgb(247, 244, 244);
    padding: 15px;
    border: 3px solid black;
    margin-bottom: 15px;
    border-radius: 5px;
}
p {
    font: 15px;
    margin-left: 150px;
    margin-bottom: 200px;
    margin-top: 150px;
    margin-top: 200px;
    color: black;
    

}
.post_content { 
    margin: 0px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-top: 15px;
    margin-left: 15px;
}
.post_image {
    margin-bottom: 10px;
    width: 100%;

}
.contants_list {
    list-style-type: none;
    padding-left: 32px;
    

}

.contants_list li a {
    text-decoration: none;
}

